<section>
  <div [ngClass]="{'animated slower infinite flash': !dataService.state}">
    <fa-icon [icon]="dataService.state ? faLink : faSlash" size="lg"></fa-icon>
  </div>
  <div>
    <p class="is-size-3">FBW</p>
  </div>
  <div>
    <p class="is-size-5"><fa-icon [icon]="faHourglass"></fa-icon> {{roundToTens(dataService.dateNow - dataService.heartbeat) || 'NA'}}</p>
    <p class="is-size-5"><fa-icon [icon]="faClock"></fa-icon> {{dataService.dateNow | date:'shortTime'}}</p>
  </div>
</section>
